.span8
  %table.table.table-striped.table-hover
    %thead
      %th user
      %th tweet
      %th date
      %th actions
    -@tweets.each do |tweet|
      %tr
        %td
          = link_to image_tag(tweet.profile_image_url), tweet.url
          %br
          = link_to tweet.from_user, tweet.url
        %td= tweet.text
        %td= tweet.t_created_at.in_time_zone('Madrid')
        %td= link_to "undelete", undelete_tweet_path(tweet, return_to_url:request.fullpath)


